// Banner background-color
$banner: #00ace4;
// Banner background-image
$banner-background: '';
// Banner text color
$banner-color: white;
// Banner button background & drop shadow
$banner-dark: #006bbe;

// Body background-color
$body: #fff;
// Body text color
$color: #333;

// Alt Colors
$link: #ed462f;
$offset: #cf5106;

$orange: #ff5c1e;
$burnt: #a32400;
$blue: #006bbe;
$gray: #393e3a;
$yellow: #f8ea34;
$light: #888;
$dark: #222;
$error: #ff5c1e;